[submodule "Hazel/vendor/spdlog"]
	path = Hazel/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Hazel/vendor/GLFW"]
	path = Hazel/vendor/GLFW
	url = https://github.com/TheCherno/glfw
[submodule "imgui"]
	path = imgui
	url = http://github.com/Xulin8/imgui
[submodule "Hazel/vendor/imgui"]
	path = Hazel/vendor/imgui
	url = http://github.com/Xulin8/imgui
